
@mixin more-link-button($text-aling, $border-color) {
    .more-link{
        text-align: $text-aling;
        vertical-align: middle;
        margin: 0 0 1rem 0;
        font-family: inherit;
        padding: 0.85em 1em;
        -webkit-appearance: none;
        border: 1px solid transparent;
        border-radius: 0;
        transition: background-color 0.25s ease-out,color 0.25s ease-out;
        font-size: 0.9rem;
        line-height: 1;
        cursor: pointer;
        a{
            color: white;
            text-transform: uppercase;
            display: inline-block;
            border: solid 1px $border-color;
            padding: 15px;
        }
    }
}

.block-titulocandidatas, .block-titulosponsors{
    h1{
        margin:0;
        line-height: 0.9;
    }
    p{
        font-size: 1.8em!important;
        margin:0;
    }
} 


// menus

.menu-uppercase{
    ul{
        li{
            text-transform: uppercase;
        }
    }
} 

#block-miss-canada-latina-main-menu{
    ul{
        float: right;
        li{
            a{
                color:$white
            }
            a.is-active{
                color:$mcl-title-color 
            }
        }
    }
}

#block-socialmedialinks{
    padding: 20px 0; 
    ul{
        float: right;
        li{
            a{
                color:$color-text
            }
        }
    }
}

#block-sponsortaxonomymenu{
    margin: 30px 0;
    display: inline-grid;
    ul.menu{
        display: inline-block;
        margin: 0 auto;
        li{
            a{
                color:$color-text
            }
            a.is-active{
                color:$white
            }
        }
    }
}
 

#block-views-block-capitulos-block-1{
    margin: 70px 0px 100px 0;
    h2{
        
        text-align: center;
        margin: 0 0 45px 0;

    }

    header{
        color:$white;
        text-align: center;
        font-size: $info-font-size;
    }

    .field-item{
        text-align: center;
        iframe{
            min-width: 80%;
            margin: 40px 0 0 0;
            height: 444px;
        }
    }
}

#block-views-block-capitulos-block-3{
    margin: 70px 0px 100px 0;
    h2{
        color:$white; 
        text-align: center;
        margin: 0 0 45px 0;

    }

    header{
        color:$white;
        text-align: center;
        font-size: $info-font-size;
    }

    .field-item{
        text-align: center;
        iframe{
            min-width: 80%;
            margin: 40px 0 0 0;
            height: 444px;
        }
    }
    @include more-link-button(center, $white);
}

#block-views-block-capitulos-block-2{
    margin: 70px 0px 100px 0;
    h2{
        text-align: center;
        margin: 0 0 45px 0;
    } 
    ul.slide__content{
        li.slide__grid{
            min-width: 360px;
        }
    }
}

.callout.secondary{
    background-color: $mcl-body-background;
    border-top: solid 1px $white;
    padding: 35px 0 20px 0px;
    div{
        color:$color-text;
    }
    
}

#block-quicktabssponsors{
    margin: 70px 0px 100px 0;
        
    h2{
        text-align: center;
        margin: 0 0 45px 0;
    }

    ul.quicktabs-tabs{
        margin: 0 0 45px 0;
        text-align: center;
        li{
            padding: 10px 20px;
            a{
              color:$color-text;
              text-transform: uppercase;
            }
        }
        li.active{
            a{color:$white}
        }
        
    }
}


#block-views-block-candidatas-block-1{

    margin: 70px 0px 100px 0;
        
    
    .block-title{
        text-align: center;
        margin: 0 0 0px 0;

    }

    header{
        color: $color-text;
        text-align: center;
        font-size: $info-font-size;
        margin: 0px 0 70px 0px;
    }

    .owl-item{
        div{
            padding: 0;
            div.row{
                    &:last-child{
                    position: absolute;
                    bottom: 0px;
                    background-color:$white;
                    display: none;
                    width: 100%;
                    min-height: 20%;
                    padding:44px 0px 24px 38px;
                    
                    

                    .field-node--node-title{
                        h2{
                            font-family: 'Lora', serif;
                            font-size: 29px;
                            font-weight: 600;
                            display: inline-block;
                            width: 100%;
                            text-align: left;
                            margin: 0;
                            a{
                                color: $mcl-title-color;
                            }
                        }
                    }

                    .field-node--field-fecha{
                        color:$black;
                    }
                    .field-node--field-pais{
                        color:$black;
                    }

                }
            }
            &:hover{
                div.row{
                    &:last-child{
                        display: inline-block;
                    }
                }        

            }
            
        }
        
        
    }
    // .field-node--node-title{display: none;}
    // .field-node--field-fecha{display: none;}
    // .field-node--field-pais{display: none;}
}

#block-views-block-destacado-principal-block-1{
    position: relative;c
    .field-node--field-image{
        position: relative;
    }
    .field-node--field-temporada{
        top: 25%;
        position: absolute;
        left: 20%;
        font-size: 2em;
        a{
            font-family: 'Parisienne', cursive;
            color: #e55b99;
            font-size: 2.8vw;
        }
    }

    .field-node--node-title{
        top: 34%;
        position: absolute;
        left: 20%;
        max-width: 43%;
        font-size: 3em;
        h2{
            font-family: 'Lora', serif;
            color: white;
            font-size: 3.7vw;
            line-height: 80px;
        }
        
    }

    .field-node--node-link{
        bottom: 20%;
        position: absolute;
        left: 20%;
        .field-item{
            text-align: center;
            iframe{
                min-width: 80%;
                margin: 40px 0 0 0;
                height: 444px;
            }
        }
        @include more-link-button(center, $white);
    }

    
}
#stripe-user-status-payments{
    color:#fff;
    
    div{
        color:#fff;
    }
    span{
        color:#fff;
    }

    span.name{
        font-size: 2em;
        color:$mcl-title-color;
    }

    .border-button{
        border-bottom: solid 1px $color-text;
        padding: 15px 0;
        font-size: 1em;
    }

}   


.field-name-dynamic-block-fieldblock-content--como-votar-{
    @include more-link-button(left, $mcl-title-color);

    .contextual-region{
        display: inline-block;
        padding: 0 0 0 10px;
    }
    header{
        div{
            span{
                color:white;
                font-size: 1.8vw;
                font-weight: 500;
            }
        }
    }
    
    .views-row.column:last-child:not(:first-child), .views-row.columns:last-child:not(:first-child) {
        float: left;
        border-bottom: none;
    }
    .views-row{
        border-bottom: solid 1px #6f7577;
        margin: 16px 20px 20px 0px;
        line-height: 23px;
        max-width: 75%;
        text-align: center;
        padding: 0 0 20px 0;
        .views-field-title{
            div{
                a{
                    color: $color-text;
                }
            }
            
        }
        .views-field-field-price{
            color: white;
        }
    }
}

#generate-mcl-vote-form{
    text-align: center;
    .my_top_message{
        color: white;
        border: solid 1px white;
        background-color: #e55b9885;
        padding: 10px;
        margin: 9px;
        font-size: 20px;
    }

    input#edit-submit{
        background-image: url(/themes/custom/miss_canada_latina/images/favorite_icon.png);
        width: 175px;
        height: 137px;
        background-color: #fff0;
    }


    .entity-name{
        color: white;
        font-size: 20px;
        
    }
}



#block-miss-canada-latina-content{

    form{
        max-width: 50%;
        label, div{
            color:$white;
        }
        label{
            font-family: 'Parisienne', cursive;
            color: #e55b99;
            font-size: 2vw;
        }
    }
}

.view-block-reto-de-la-semana {

    @include more-link-button(left, $mcl-title-color);

    .field-node--node-title {
        h3{
            font-family: 'Lora', serif;
            color: white;
            font-size: 2em;
            line-height: 10px;
            margin: 30px 0 10px 0px;
        }
        
    }
 
    .field-node--body {
        
    }

    .field-node--field-rango-de-fechas{
        
    }


    .note {
        color: #6f7477;
        font-size: 20px;
    }
}


#block-miss-canada-latina-stripe-payments-charge-block{
    .button{
        margin: 19px 0px 19px 0px;
    }
}