#block-historia{
    ul.menu{
        li{
            width: 100%;
            text-transform: uppercase;
            border-bottom: solid 1px $color-text;
            padding: 4px 0px;
            a{
                color:$white;
                
            }
            a.is-active{
                color:$mcl-title-color!important;
            }
        }
        
    }
}