#block-miss-canada-latina-content{

    .item-list{
        ul{
            display: inline-block;
            width: 100%;
            margin: 0;
                li{
                    // padding: 2px;
                }
            }
    }
    .more-link{
        text-align: center;

        vertical-align: middle;
        margin: 0 0 1rem 0;
        font-family: inherit;
        padding: 0.85em 1em;
        -webkit-appearance: none;
        border: 1px solid transparent;
        border-radius: 0;
        transition: background-color 0.25s ease-out,color 0.25s ease-out;
        font-size: 0.9rem;
        line-height: 1;
        cursor: pointer;
        background-color: $mcl-body-background;
        a{
            color:white;
            text-transform: uppercase;
            display: inline-block;
            border: solid 1px $mcl-title-color;
            padding: 15px;
          background-color: $mcl-title-color;
        }
    }

}

.list-non-decoration{
    list-style: none;
}



.page-view-candidatas{
    .item-list{
        ul{
            list-style: none;
            li{
                border: 1px solid $mcl-body-background;
                margin: 0 0 60px 0;
                position: relative;
                div.row{
                    div{
                        &:first-child{
                            padding: 0!important;
                        }
                    }
                    &:last-child{
                        background-color:$white;
                        padding: 20px;
                        .field-node--node-title{
                            h2{
                                font-family: 'Lora', serif;
                                font-size: 29px;
                                font-weight: 600;
                                display: inline-block;
                                width: 100%;
                                text-align: left;
                                margin: 0;
                                a{
                                    color: $mcl-title-color;
                                }
                            }
                        }

                        .field-node--field-fecha{
                            color:$black;
                        }
                        .field-node--field-pais{
                            a{color:$black}
                        }

                    }
                }
                &:hover{
                    div.row{

                        background-color: $blue-light;

                    }

                    div.row:nth-child(2n) {
                        //position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color:#e55b985e;
                        margin-right: 0;
                        margin-left: 0;
                        padding-right: 0;
                        padding-left: 0;
                    }

                    .field-node--node-title{
                        h2{
                            a {color: $black!important}
                        }
                    }

                    .field-node--field-fecha div div{
                        color:$black;
                    }
                    .field-node--field-pais div div a{
                        color:$black !important;
                    }

                }
            }
        }
    }
}


.field-node--dynamic-block-fieldnode-block-ranking-por-reto{
    display: inline-block;
}

.block-views-blockreto-reto-resultados{
    .view-block-reto-de-la-semana{
        display: inline-block;
        .field-node--field-imagen{
            border: solid 4px #ec5172;
        }
        .field-node--node-title{
            span{
                display: inline-block;
                width: 100%;
                a{
                    color: #fff;
                    font-size: 20px;
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                }
            }
        }
        img.heart{
            max-width: 40%;
        }
        .item-list{
            ul{
                li{
                    list-style:none;
                    span{
                        color: #fff;
                        font-size: 20px;
                        text-align: center;
                        display: inline-block;
                        width: 100%;
                    }
                }
            }
        }
    }
}

// url(/themes/custom/miss_canada_latina/images/favorite_icon.png)
