.region-highlighted{
    background-color: $mcl-body-background;
    margin: 0;
}

.l-help{
    padding: 50px 0 30px 0;
    margin: 20px 0;
    min-height: 212px;
    background: linear-gradient(90deg, #4f1b34, #160613);
}

.full-width{
    max-width: 100%;
}

#middle-content{
    background-color:$color-background-secundary;
}