{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<div class="large-12 medium-12 small-12 row" id="stripe-user-status-payments">
    {# <div class="large-12 medium-12 small-12 columns">
        <span class="large-12 medium-12 small-12">Hola</soan>
    </div> #}
    <div class="large-12 medium-12 small-12 columns">
        <h2 class="block-title">{{content['user']}}</h2>
    </div>
    <div class="large-12 medium-12 small-12 columns border-button">
        <span class="large-8 medium-8 small-12 columns" > Votos Comprados:</span>
        <span class="large-4 medium-4 small-12 columns">{{content['total']['Compra']}}</span>
    </div>
    <div class="large-12 medium-12 small-12 columns border-button">
        <span class="large-8 medium-8 small-12 columns"> Votos Realizados:</span>
        <span class="large-4 medium-4 small-12 columns">{{content['total']['Voto']}}</span>
    </div>
    <div class="large-12 medium-12 small-12 columns border-button">
        <span class="large-8 medium-8 small-12 columns"> Votos Disponibles:</span>
        <span class="large-4 medium-4 small-12 columns">{{content['total']['diference']}}</span>
    </div>
</div>

